.user-table{
  margin: 15px 40px;
}

.user-table td.authorized > label{
  margin-left: 6px;
}

.user-table td.active > label{
  margin-left: 6px;
}

.user-table .info{
  cursor: pointer;
}

.driver-info{
  width: 700px;
  margin: 20px auto;
}

.driver-info .approve{
  text-align: center;
  display: none;
}

.driver-info input{
  color: black !important;
}

.rider-info{
  width: 700px;
  margin: 20px auto;
}

.rider-info .approve{
  text-align: center;
  display: none;
}

.rider-info input{
  color: black !important;
}

#container {
  height: 100%;
  width:100%;
}

.search {
  width: 400px;
  float: right;
}

.selector-time {
  position: absolute;
  right: 10px;
  width: 200px;
  /*float: right;*/
}

.caret {
  color:white !important;
  top: 0 !important;
}

.driver-info [type="checkbox"] + label {
  transform: translateY(-15px);
}

.hidden {
  display: none;
}